<div *ngIf='selectedRoom'>
	<select (change)="onSelectRoom($event.target.value)">
	  <option *ngFor="let Room of meetingRoom" value="{{Room.room_name}}">{{Room.room_name}}</option>
	</select>

	<h3>{{selectedRoom.room_name}}</h3>
	<p>{{selectedRoom.description}}</p>

	<div>
		<label>Level-Unit: </label>{{selectedRoom.unit}}
	</div>

	<div>
		<label>Pax Size: </label>{{selectedRoom.room_size}}
	</div>

	<div>
		<mat-form-field>
			<input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Input disabled" disabled [value]="date.value" (dateChange)="dateChange($event)">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker disabled="false"></mat-datepicker>
		</mat-form-field>
	</div>
	<div>
		<div class="timetable">
			<div class="hours">
				<span *ngFor="let hour of getAvailableHour(1)">{{ getHour(hour) }}</span>
			</div>
			<div class="schedule">
				<span *ngFor="let hour of getAvailableHour(0)">
					<div *ngIf="(checkSchedule(getHour(hour)) === 'available') ; then isAvailable; else isUnavailable"></div>
					<ng-template #isAvailable>
					  <button class="book-now" (click)="bookRoom(getHour(hour))"> Book Now! </button>
					</ng-template>
					<ng-template #isUnavailable>
					  <div> Booked </div>
					</ng-template>
				</span>
			</div>
		</div>
	</div>
</div>
