.timetable {
    background-color: #cccccc;
    display: inline-block;

	.hours {
		border: 1px solid;
	    margin: 0;
	    padding: 0;
		span {
			padding: 3px 30px;
			width: 20px;
			writing-mode: vertical-rl;
			text-orientation: mixed;
		}

		span:last-child {
			padding-right: 0;
		}

		span:first-child {
			padding-left: 0;
		}
	}
	.schedule {
		text-align: center;
		border: 1px solid;
		span {
			width: 80px;
			display: inline-block;
			border: 1px solid;
		} 
	}
	.book-now {
		background-color: #aacbd8;
    	color: black;
    	cursor: pointer;
	}
}